<!--
  Adrien Protzel
  protzela@oregonstate.edu
-->
<header>
  <div class="header-image-container">
    <img style="background-image" src="/header.jpeg" alt="Header image">
  </div>

  <h1 id="site-title">Proelian</h1>

  <div class="header-title-container">
    <h1 id="page-title">{{pageTitle}}</h1>
    <h3 id="page-des">{{pageDes}}</h3>
    <div id="arrow" class="fas fa-chevron-down"></div>
  </div>


</header>

<button type="button" id="nav-button" class="fa fa-bars fa-times"></button>

<div id="modal-backdrop" class="hidden">
  <div id="nav-modal" class="hidden">
    <nav class="nav-list">
      <ul class="navlist">
        <li style="list-style-type: none;"><a href="/">Home</a></li>
        <li style="list-style-type: none;"><a href="/contacts">Contacts</a></li>
      </ul>
    </nav>
  </div>
</div>
