
<div class="read-more-post">
  <div class="home-post-contents">
    <h1 id="home-post-title">{{title}}</h1>
    <div class="read-more-post-info-container">
      <p id="read-more-post-info">{{content}}</p>
    </div>
  </div>
</div>
