<main class="content">
  <button type="button" id="add-contact-button">Add Contact</button>
  <div id="add-contact-modal" class="hidden">
    
  </div>

  <section id="contacts-posts">
    {{#each allContacts}}
      {{> contactPost}}
    {{/each}}
  </section>
</main>
