<main class="home-page">
<!--
  <section id="home-posts">

    <div class="home-post">
      <div class="home-post-content">
        <div class="post-title">
          <h1 id="post-title">AdVances</h1>
          <h3 id="post-time">date • name</h3>
        </div>

        <div class="post-body">
          <p>Welcome to ProVance Technologies. Here you will find our latest publicly released updates. Hydrogen Pulse Detonation Pump As of August 9th, 2019 our patent application to the USPTO was filed and the receipt is posted below. U.S. Provisional Patent Application Filing Hydrogen Pulse Detonation Combustion Pump First Named Inventor: Vance Turner Our Ref: T11-05956.PRO</p>
        </div>

        <button type="button" id="read-more"></button>
      </div>
    </div>

  </section>
-->

<section id="posts">

        <div class="post" data-price="500" data-city="Eugene" data-condition="poor">
          <div class="post-contents">
            <div class="post-image-container">
            </div>
            <div class="post-info-container">
              <a href="#" class="post-title">Super nice laptop</a> <span class="post-price">$500</span> <span class="post-city">(Eugene)</span>
            </div>
          </div>
        </div>

        <div class="post" data-price="20" data-city="Corvallis" data-condition="excellent">
          <div class="post-contents">
            <div class="post-image-container">
            </div>
            <div class="post-info-container">
              <a href="#" class="post-title">Platypus Trophy</a> <span class="post-price">$20</span> <span class="post-city">(Corvallis)</span>
            </div>
          </div>
        </div>

        <div class="post" data-price="100" data-city="Portland" data-condition="new">
          <div class="post-contents">
            <div class="post-image-container">
            </div>
            <div class="post-info-container">
              <a href="#" class="post-title">Very large pile of interesting donuts</a> <span class="post-price">$100</span> <span class="post-city">(Portland)</span>
            </div>
          </div>
        </div>

        <div class="post" data-price="250" data-city="Salem" data-condition="fair">
          <div class="post-contents">
            <div class="post-image-container">
            </div>
            <div class="post-info-container">
              <a href="#" class="post-title">Oregon laws</a> <span class="post-price">$250</span> <span class="post-city">(Salem)</span>
            </div>
          </div>
        </div>

        <div class="post" data-price="1" data-city="Bend" data-condition="new">
          <div class="post-contents">
            <div class="post-image-container">
            </div>
            <div class="post-info-container">
              <a href="#" class="post-title">Sunshine</a> <span class="post-price">$1</span> <span class="post-city">(Bend)</span>
            </div>
          </div>
        </div>

        <div class="post" data-price="99" data-city="Portland" data-condition="fair">
          <div class="post-contents">
            <div class="post-image-container">
            </div>
            <div class="post-info-container">
              <a href="#" class="post-title">Hipsters</a> <span class="post-price">$99</span> <span class="post-city">(Portland)</span>
            </div>
          </div>
        </div>

        <div class="post" data-price="20000000" data-city="Eugene" data-condition="good">
          <div class="post-contents">
            <div class="post-image-container">
            </div>
            <div class="post-info-container">
              <a href="#" class="post-title">Football stadium (we kind of want to build a new one)</a> <span class="post-price">$20000000</span> <span class="post-city">(Eugene)</span>
            </div>
          </div>
        </div>

        <div class="post" data-price="10000" data-city="Corvallis" data-condition="excellent">
          <div class="post-contents">
            <div class="post-image-container">
            </div>
            <div class="post-info-container">
              <a href="#" class="post-title">Very nice farmer's market</a> <span class="post-price">$10000</span> <span class="post-city">(Corvallis)</span>
            </div>
          </div>
        </div>

      </section>
</main>
