<main class="home-page">
  <section id="home-posts">
    <div class="home-post" data-title="AdVances" data-time="date • name">
      <div class="home-post-contents">
        <h1 id="home-post-title">AdVances</h1>
        <h3 id="home-post-time">date • name</h3>
        <div class="home-post-info-container">
          <p id="home-post-info">Welcome to ProVance Technologies. Here you will find our latest publicly released updates. Hydrogen Pulse Detonation Pump As of August 9th, 2019 our patent application to the USPTO was filed and the receipt is posted below. U.S. Provisional Patent Application Filing Hydrogen Pulse Detonation Combustion Pump First Named Inventor: Vance Turner Our Ref: T11-05956.PRO</p>
        </div>
        <a class="read-more-button" href="/contacts">READ MORE</a>
      </div>
    </div>

    <div class="home-post" data-title="AdVances" data-time="date • name">
      <div class="home-post-contents">
        <h1 id="home-post-title">AdVances</h1>
        <h3 id="home-post-time">date • name</h3>
        <div class="home-post-info-container">
          <p id="home-post-info">Welcome to ProVance Technologies. Here you will find our latest publicly released updates. Hydrogen Pulse Detonation Pump As of August 9th, 2019 our patent application to the USPTO was filed and the receipt is posted below. U.S. Provisional Patent Application Filing Hydrogen Pulse Detonation Combustion Pump First Named Inventor: Vance Turner Our Ref: T11-05956.PRO</p>
        </div>
        <a class="read-more-button" href="/contacts">READ MORE</a>
      </div>
    </div>
  </section>
</main>
