<main class="content">
<!--
  <div class="home-post">
    <div class="home-post-contents">
      <h1 id="home-post-title">{{title}}</h1>
      <h3 id="home-post-time">{{date}} • {{name}}</h3>
      <div class="home-post-info-container">
        <p id="home-post-info">{{content}}</p>
      </div>
    </div>
  </div>
-->

  <section id="read-more-posts">
    {{#with page}}
      {{> readMorePost}}
    {{/with}}
  </section>

</main>
